.container {
  margin: 24px;
}

.salesContainer,
.inputsContainer {
  display: flex;
}

.salesContainer {
  gap: 48px;
  margin: 16px 0;
  justify-content: space-around;
}

.inputsContainer {
  gap: 16px;
  flex-wrap: wrap;
}

.feeDescription {
  font-weight: 600;
}

@media (max-width: 768px) {
  .salesContainer {
    flex-direction: column;
    gap: 16px;
  }
}
