.container {
  margin: 24px;
}

.salesContainer,
.mainInfoContainer,
.inputsContainer {
  display: flex;
}

.mainInfoContainer {
  gap: 8px;
  justify-content: space-between;
}

.salesContainer {
  gap: 48px;
  margin: 16px 0;
  justify-content: space-around;
}

.viewOptionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  margin: auto;
  justify-items: center;
  gap: 48px;
}

.informationSection {
  border-bottom: 1px solid black;
  padding: 16px 0;

  .hidden {
    display: none;
  }
}

.button {
  border-radius: 25px;
  display: block;
  width: 100%;
  margin: 16px 0;
  padding: 8px;
  color: white;
  background-color: black;
  font-size: 1.2rem;
}

.inputsContainer {
  gap: 16px;
  flex-wrap: wrap;
}

.tagsContainer {
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
  gap: 16px 8px;

  h3 {
    margin: 0;
  }
}

.informationSectionTitle {
  cursor: pointer;
  width: 100%;
}

.image {
  width: 100%;
  object-fit: contain;
}

.price {
  font-size: 2rem;
}

.feeDescription {
  font-weight: 600;
}

.artworkName {
  font-family: PolySansMedian;
  font-size: 2rem;
}

.authorName {
  font-family: PolySansMedian;
  font-size: 1.5rem;
}

.dimensions {
  font-family: PolySansNeutralMono;
  font-size: 1rem;
}

.textWithIconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .salesContainer {
    flex-direction: column;
    gap: 16px;
  }

  .viewOptionsContainer {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
