@import 'styles/colors';

.container {
  display: flex;
  gap: 16px;
  margin: 24px 0;
}

.link {
  color: black;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }

  &.active {
    opacity: 1;
  }
}
