@font-face {
  font-family: PolySansMedian;
  src: url('../assets/fonts/PolySansMedian.otf');
}

@font-face {
  font-family: PolySansNeutral;
  src: url('../assets/fonts/PolySansNeutral.otf');
}

@font-face {
  font-family: PolySansNeutralMono;
  src: url('../assets/fonts/PolySansNeutralMono.otf');
}
