.container {
  border-bottom: 1px solid black;
  padding: 16px 0;

  .hidden {
    display: none;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-right: 16px;
  cursor: pointer;

  .arrow {
    height: 100%;

    &.reversed {
      transform: rotate(180deg);
    }
  }
}

.title {
  width: 100%;
  margin: 0;
  padding: 1rem 0;
}
